{extend name='public/master' /}
{block name='content'}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">导航列表</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>编号</th>
                <th>名称</th>
                <th>排序</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="$navData" id="vo"}
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.name} {$vo.ename}</td>
                <td><input type="text" id="{$vo.id}" name="sort" value="{$vo.sort}"></td>
                <td>
                    <a href="{:url('editnav',['id'=>$vo.id])}" class="btn btn-primary">编辑</a>
                    {if condition="$vo.sta==1"}
                    <a href="{:url('delnav',['sta'=>0,'id'=>$vo.id])}" class="btn btn-danger">隐藏</a>
                    {else /}
                    <a href="{:url('delnav',['sta'=>1,'id'=>$vo.id])}" class="btn btn-default">开启</a>
                    {/if}
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</div>
<script>
    var oinputs=$('input[name=sort]');
    var t;
    oinputs.focus(function () {
        t=$(this).val();
    });
    oinputs.blur(function () {
        var This=$(this);
        var id=parseInt(This.attr('id'),10);
        var sort=parseInt(This.val(),10);
        if (id&&sort>=0&&sort!=t){
            $.post("{:url('ajaxEditSort')}",{id:id,sort:sort},function (res) {
                if (res.valid==1){
                    This.val(sort);
                    alert(res.msg);
                    location.reload();
                }else {
                    alert(res.msg);
                }
            },'json');
        }else {
            This.val(t)
        }
    });
</script>
{/block}