<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">公司业务管理</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>茶叶管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{:url('admin/category/index')}"><i class="fa fa-circle-o"></i>茶叶分类</a></li>
                    <li><a href="{:url('admin/productcontent/index')}"><i class="fa fa-circle-o"></i>茶叶列表</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>产品优势</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{:url('admin/product/index')}"><i class="fa fa-circle-o"></i>产品优势</a></li>
                </ul>
            </li>
            <li class="header">新闻管理</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>新闻管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{:url('admin/newscategory/index')}"><i class="fa fa-circle-o"></i>新闻分类</a></li>
                    <li><a href="{:url('admin/news/index')}"><i class="fa fa-circle-o"></i>新闻列表</a></li>
                </ul>
            </li>
            <li class="header">首页信息管理</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>图片</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{:url('admin/banner/index')}"><i class="fa fa-circle-o"></i>banner</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>导航栏</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{:url('admin/nav/index')}"><i class="fa fa-circle-o"></i>导航栏信息</a></li>
                </ul>
            </li>
            <li class="header">关于我们</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>公司信息</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{:url('admin/introduction/index')}"><i class="fa fa-circle-o"></i>公司介绍</a></li>
                </ul>
            </li>
            <li class="header">密码管理</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>修改密码</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{:url('admin/index/editpass')}"><i class="fa fa-circle-o"></i>修改密码</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>