<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">公司业务管理</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>业务管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{:url('admin/category/index')}"><i class="fa fa-circle-o"></i>业务分类</a></li>
                    <li><a href="{:url('admin/cases/index')}"><i class="fa fa-circle-o"></i>案例列表</a></li>
                </ul>
            </li>
            <li class="header">新闻管理</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>新闻管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{:url('admin/newscategory/index')}"><i class="fa fa-circle-o"></i>新闻分类</a></li>
                    <li><a href="{:url('admin/news/index')}"><i class="fa fa-circle-o"></i>新闻列表</a></li>
                </ul>
            </li>
            <li class="header">首页信息管理</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>图片</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{:url('admin/backpic/index')}"><i class="fa fa-circle-o"></i>背景图</a></li>
                </ul>
            </li>
            <li class="header">关于我们</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>公司信息</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{:url('admin/introduction/index')}"><i class="fa fa-circle-o"></i>公司介绍</a></li>
                </ul>
            </li>
            <li class="header">密码管理</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>修改密码</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{:url('admin/index/editpass')}"><i class="fa fa-circle-o"></i>修改密码</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>


<!--
<li class="header">展示模块</li>
<li class="treeview">
  <a href="#">
      <i class="fa fa-dashboard"></i>
      <span>展示模块</span>
      <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
  </a>
  <ul class="treeview-menu">
      <li><a href="index.html"><i class="fa fa-circle-o"></i>公司简介展示</a></li>
      <li><a href="index2.html"><i class="fa fa-circle-o"></i>投资人信息管理</a></li>
  </ul>
</li>
<li class="treeview">
<a href="#">
    <i class="fa fa-dashboard"></i>
    <span>Dashboard2</span>
    <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
</a>
<ul class="treeview-menu">
    <li><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
    <li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
</ul>
</li>
<li class="treeview">
<a href="#">
    <i class="fa fa-dashboard"></i>
    <span>Dashboard3</span>
    <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
</a>
<ul class="treeview-menu">
    <li><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
    <li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
</ul>
</li> -->