{extend name='public/master' /}
{block name='content'}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">案例新增</h3>
    </div>
    <div class="panel-body">
        <a href="{:url('index')}" class="btn btn-info">返回案例列表</a>
    </div>
    <div class="panel-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">案例名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" required placeholder="案例名称" name="caname">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail31" class="col-sm-2 control-label">案例类型</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail31" required placeholder="案例类型" name="category_name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail33" class="col-sm-2 control-label">发布时间</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail33" required placeholder="发布时间" name="dates">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail34" class="col-sm-2 control-label">链接地址</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail34" required placeholder="链接地址" name="url">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">上传图片(960*540)</label>
                <div class="col-sm-10" id="dispathed">
                    <input type="file"  name="file_upload" id="file_upload" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">提交保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="__ROOT__/public/admin/js/pic.js"></script>
{/block}