{extend name='public/master' /}
{block name='content'}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">新闻列表</h3>
    </div>
    <div class="panel-body">
        <a href="{:url('admin/news/addnews')}" class="btn btn-info">新增新闻</a>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>编号</th>
                <th>标题</th>
                <th>分类</th>
                <th>作者</th>
                <th>日期</th>
                <th>点击</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="newsData" id="vo"}
            <tr>
                <td>{$vo.nid}</td>
                <td>{$vo.title}</td>
                <td>{$newscategoryData[$vo.ncid]}</td>
                <td>{$vo.author}</td>
                <td>{$vo.dates}</td>
                <td>{$vo.clicks}</td>
                <td>
                    <a href="{:url('editnews',['nid'=>$vo.nid])}" class="btn btn-primary">编辑</a>
                    <a href="javascript:;" class="btn btn-danger" data-toggle="modal" urls="{:url('delnews',['ncid'=>$vo.ncid])}" data-target="#myModal">删除</a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</div>

<script>
    var str=null;
    $('.btn-danger').click(function () {
        str=$(this).attr('urls');
    });
    function checkdel(){
        location.href=str;
    }
</script>
{/block}